.board { background: url(https://source.unsplash.com/ZnOqBzHaDVQ); background-repeat: no-repeat; background-size: cover; min-height: 100vh; padding: 1rem; text-align: center; }

.board h1 { color: white; font-size: 3rem; }

.board button { background-color: orange; border: none; font-size: 1.25rem; margin: 0.5rem; padding: 0.5rem; }

.board button:hover { border: 0.25rem solid black; cursor: pointer; margin: 0.25rem; }

.board .btn-delete { background-color: crimson; border-radius: 50%; }

.board .column-container { -ms-flex-align: center; align-items: center; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; justify-content: center; }

.column { background: rgba(255, 255, 255, 0.7); border-radius: 5%; display: inline-block; margin: 1rem; min-height: 300px; min-width: 150px; width: 25vw; }

.column .btn-delete { margin-right: 0.5rem; }

.column h2 { font-size: 2rem; }

.column .column-add-card { background-color: yellow; }

.column ul { padding: 0; }

.column-card-list { -ms-flex-align: center; align-items: center; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; justify-content: center; min-height: 150px; }

.card { background-color: yellow; border-radius: 5%; list-style-type: none; margin: 1rem; }

.card p { padding: 0.5rem; }
